<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid text-center mt-5">
    <div class="container">
      <h1 class="display-4 fw-bold">TV Shows</h1>
      <!-- <p class="lead text-justify">
        An invisible and mysterious force field descends upon a small actual
        town of Chester's Mill, Maine, USA, trapping residents inside, cut off
        from the rest of civilization. The trapped townspeople must discover the
        secrets and purpose of the "dome" or "sphere" and its origins, while
        coming to learn more than they ever knew about each other and animals
        too.
      </p> -->
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="d-flex align-items-center search">
      <fa-icon [icon]="icon.search"></fa-icon>
      <input
        (keyup)="onSearch($event)"
        type="text"
        placeholder="Search TV shows"
        [(ngModel)]="search"
      />
    </div>
  </div>

  <div *ngIf="hasTvShowList" class="d-flex flex-wrap">
    <div *ngFor="let tvShow of tvShowList" class="col-md-12 col-lg-6">
      <div class="card m-4">
        <img
          class="pointer"
          [src]="tvShow.image.medium"
          [alt]="tvShow.name"
          routerLink="/view/{{ tvShow.id }}"
        />
        <div class="card-body">
          <h3 routerLink="/view/{{ tvShow.id }}" class="card-title pointer">
            {{ tvShow.name }}
          </h3>
          <p *ngIf="tvShow.rating.average" class="card-text rated">
            <fa-icon [icon]="icon.rating"></fa-icon>
            {{ tvShow.rating.average }}
          </p>

          <p *ngIf="!tvShow.rating.average" class="card-text unrated">
            <fa-icon [icon]="icon.rating"></fa-icon>
            Unrated
          </p>
          <div class="description" [innerHTML]="tvShow.summary"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!hasTvShowList" class="d-flex flex-wrap">
    <div *ngFor="let tvShow of TvShowSearchList" class="col-md-12 col-lg-6">
      <div class="card m-4">
        <img
          class="pointer"
          [src]="tvShow.show.image.medium"
          [alt]="tvShow.show.name"
          routerLink="/view/{{ tvShow.show.id }}"
        />
        <div class="card-body">
          <h3
            routerLink="/view/{{ tvShow.show.id }}"
            class="card-title pointer"
          >
            {{ tvShow.show.name }}
          </h3>
          <p *ngIf="tvShow.show.rating.average" class="card-text rated">
            <fa-icon [icon]="icon.rating"></fa-icon>
            {{ tvShow.show.rating.average }}
          </p>

          <p *ngIf="!tvShow.show.rating.average" class="card-text unrated">
            <fa-icon [icon]="icon.rating"></fa-icon>
            Unrated
          </p>
          <div class="description" [innerHTML]="tvShow.show.summary"></div>
        </div>
      </div>
    </div>
  </div>
</div>
