.search {
  border: 1px solid #000000;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  width: 40vw;

  input {
    border: none;
    outline: none;
    margin-left: 0.5rem;
    width: 100%;
  }
}

.card {
  flex-direction: row;
  // width: 600px;

  .description {
    ::ng-deep {
      p {
        display: -webkit-box;
        -webkit-line-clamp: 14;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  img {
    height: 460px;
    width: 300px;
  }

  .card-text {
    &.rated {
      ::ng-deep {
        svg {
          color: #efbf51;
        }
      }
    }

    &.unrated {
      color: #808080;

      ::ng-deep {
        svg {
          color: #eeeeee;
        }
      }
    }
  }
}

.text-justify {
  text-align: justify;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.card-title:hover {
  color: #136cb2;
  text-decoration: underline;
}

// @media only screen and (max-width: 1135px) {
//   .card {
//     width: 100%;
//   }
// }
